body {
  background-image: url("background.svg");
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: inline;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  font-family: sans-serif;
}

li a:hover {
  background-color: red;
}
  h1 {
    color:white;
    font-size: 45px;
    font-family: sans-serif;
    text-align: center;
  }
  
  a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 34px;
  }
  a:hover {
    color: red;
  }
 